spring:
    application:
        name: task
    datasource:
        url: jdbc:postgresql://localhost:5432/database-name
        username: username
        password: password
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: update   
        show-sql: false
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect

# change file name to application.yml